@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
}

.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 1rem;
  font-size: 2.4rem;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

#form {
  width: 80%;
}

#form label {
  font-size: 1.2rem;
}

/* Results */
#result {
  display: none;
}

#result > * {
  opacity: 0;
}

#result h1, #result button {
  font-family: 'Bebas Neue', sans-serif;
}

#result-head {
  font-size: 4rem;
}

#status {
  font-size: 8rem;
}

#result button {
  margin-top: 2rem;
}

#result p {
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #form label {
    font-size: 0.8rem;
  }
}