<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Titanic Survival</title>
  {% load static %}
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <form id="form">
      <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" id="age" name="Age" type="number" min="1" required>
      </div>
      <div class="form-group">
        <label for="sex">Sex</label>
        <select class="form-control" id="sex" name="Sex">
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="pclass">How much would you pay for a ticket?</label>
        <select class="form-control" id="pclass" name="Pclass">
          <option value="1">$3.500 or more</option>
          <option value="2">$1.375</option>
          <option value="3">$350 - $900</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sibsp">How many siblings or spouses do you have on board?</label>
        <input class="form-control" id="sibsp" name="SibSp" type="number" min="0" required>        
      </div>
      <div class="form-group">
        <label for="parch">How many parents or childs do you have on board?</label>
        <input class="form-control" id="parch" name="Parch" type="number" min="0" required>        
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="{% static 'main.js' %}"></script>
</body>
</html>